@font-face {
    font-family: GnuUnifont;
    src: url(GnuUnifontFull-Pm9P.ttf) format("truetype");
}



      :root {

        --rstripe: rgba(255, 0, 0, 0.1);
    --gstripe: rgba(0, 255, 0, 0.1);
    --bstripe: rgba(0, 0, 255, 0.1);
    --vfdcolor:rgb(46, 188, 117);
    

}

body{
    all: unset;
    scroll-behavior: smooth;
    font-family: GnuUnifont;
    background-color: #161414;
    color: var(--vfdcolor);
                width: 100%;
            
            display: block;
            overflow-x: hidden;
            text-shadow: 
            0px 0px 1px rgba(0, 0, 0, 0.5), 
            0px 0px 1px rgba(0, 0, 0, 0.3), 
            0px 0px 2px rgba(0, 0, 0, 0.1);
        animation: jitter 0.001s infinite alternate;
}

        body::after {
            content: "";
            position: fixed;
            z-index: 10000;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            pointer-events: none;
            background: 
            repeating-linear-gradient(
            to bottom,
            rgba(0,0,0,.05) 0px,
            rgba(0,0,0,.05) 2px,
            transparent 2px,
            transparent 6px
        ),
        repeating-linear-gradient(
            to right,
            var(--rstripe) 0px,
            var(--rstripe) 2px,
            transparent 2px,
            transparent 6px
        ),
        repeating-linear-gradient(
            to right,
            var(--gstripe) 2px,
            var(--gstripe) 4px,
            transparent 4px,
            transparent 8px
        ),
        repeating-linear-gradient(
            to right,
            var(--bstripe) 4px,
            var(--bstripe) 6px,
            transparent 6px,
            transparent 10px
        );
    animation: colorChange .1s infinite;
}


@keyframes colorChange {
    0% {
        --rstripe: rgba(255, 0, 0, 0.06);
        --gstripe: rgba(0, 255, 0, 0.03);
        --bstripe: rgba(0, 0, 255, 0.03);
    }
    50% {
        --rstripe: rgba(255, 0, 0, 0.03);
        --gstripe: rgba(0, 255, 0, 0.06);
        --bstripe: rgba(0, 0, 255, 0.03);
    }
    100% {
        --rstripe: rgba(255, 0, 0, 0.03);
        --gstripe: rgba(0, 255, 0, 0.04);
        --bstripe: rgba(0, 0, 255, 0.03);
    }
}
#main-header{
   z-index: 2;
}
#main-header > h1 {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 1%;
    align-self: flex-end;
    font-size: 3rem; /* Adjust size as needed */
    color: var(--vfdcolor); /* Text color */
    z-index: 1; /* Ensure the text is on top */
}

/* Jitter animation */
@keyframes jitter {
    0% { text-shadow: 
        1px 0px 1px rgba(0, 0, 255, 0.5), 
        2px 1px 1px rgba(255, 0, 0, 0.3), 
        2px 1px 1px rgba(0, 255, 0, 0.208); }
    50% { text-shadow: 
        1px 0px 1px rgba(255, 0, 0, 0.378), 
        2px 1px 1px rgba(0, 255, 0, 0.204), 
        1px 0px 1px rgba(0, 255, 0, 0.5);}
    100% { text-shadow: 
        1px 1px 1px rgba(255, 0, 0, 0.5), 
        2px 0px 1px rgba(0, 0, 255, 0.432), 
        1px 1px 1px rgba(255, 0, 0, 0.3);}
}


#main-header>p{
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 2%;
}

#svgbg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
#main-header{
    display: flex;
    padding-right: 1%;
    flex-direction: column;
    position: fixed;
    top: 60vh;
    right: 10vw;
    align-items: end;
}
.svgline{
    stroke:  var(--vfdcolor);
    stroke-width: 2px;
}
.btn_section {
    position: fixed;
    height: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: color 0.3s linear;
    z-index: 2;
}

.btn_section:hover {
    color: #161414;
}

.btn_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--vfdcolor);
    z-index: 0;
    transform: translateX(-100%);
    transition: transform 0.5s linear;
}

.btn_section:hover::before {
    transform: translateX(0);
}

.btn_section span {
    position: relative;
}
p{
    font-size: larger;
}
.content{
    position: relative;
    display: flex;
    top: 60vh;
    width: 85vw;
    right: 0vw;
    /* width: 88vw; */
    padding: 2%;
    flex-direction: column;
}

/*for now its for the fake image, but this logic can probably be used with all project subsections*/
.mdtst{
    display: flex;
}
.mdtst >img{
    max-width: 500px;
    max-height: 500px;
}
.single_section > h2{
    margin-top: 50px;
}
.mdtst >p{
    padding-left: 50px;
}